<div class="flex flex-col h-screen">
  <div class="bg-white h-20 grid grid-cols-2 lg:grid-cols-6 items-center px-8 mb-4 lg:mx-12 shadow lg:rounded-b-2xl">
    <div class="mx-auto lg:mx-0 text-3xl font-serif text-blue-600 col-span-4">
      <%= link_to 'ScrummyPoky 🂡', root_path %>
    </div>
    <div class="" data-controller="clipboard" data-clipboard-copy-value="<%= request.url %>">
      <button data-action="clipboard#copy" class="text-xl text-blue-700">Copy Link 📋</button>
    </div>
    <div class="ml-auto">
      <%= render @user %>
    </div>
  </div>
  <div class="flex flex-col flex-grow">
    <%= turbo_stream_from @room %>
    <div class="flex-grow bg-blue-100 flex items-center justify-center lg:mx-12 lg:my-4 lg:rounded-2xl">
      <div id="cards" class="grid grid-cols-5 gap-1 lg:gap-4">
        <%= render @room.cards %>
      </div>
    </div>
    <div class="mx-auto">
      <%= turbo_stream_from [@room, 'status']  %>
      <%= render @room %>
    </div>
  </div>
  <div>
    <%= render 'hand', room: @room, card: @card %>
  </div>
</div>
